<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
<script>
/*<![CDATA[*/
function validarFecha(){
	
		var fecha = document.getElementById("fecEntrega").value; //fecha ingresada
		var today = new Date();
		var dia, mes, anio;
		var DD, MM, YYYY;
		var tomorrow;
		
		DD = today.getDate() + 1; //para obtener un dia mas
		MM = today.getMonth() + 1; //enero empieza en 0
		YYYY = today.getFullYear(); //obtengo anio		
		
		if(DD<10) {
		    DD = '0'+DD
		} 

		if(MM<10) {
		    MM = '0'+MM
		} 
		

		
		tomorrow = YYYY +"-"+ MM +"-"+ DD; //fecha de mañana
		
		if(fecha < tomorrow) alert("Atención: Debe ingresar una fecha al menos un día posterior al día de hoy. Gracias.")
		else {
			document.getElementById("formDetallePedido").submit();
		}
		
		
	};
	

	/*]]>*/
</script>


	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<p></p>


		<h2 th:text="${titulo}"></h2>
		<p></p>

		<form th:action="@{/pedido/detallePedido}"  th:object="${pedido}" id="formDetallePedido"
			method="post">
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{cliente.nom}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('cliente.nom')}"
						th:errors="*{cliente.nom}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{cliente.ape}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('cliente.ape')}"
						th:errors="*{cliente.ape}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{cliente.email}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('cliente.email')}"
						th:errors="*{cliente.email}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Telefono</label>
				<div class="col-sm-4">
					<input type="number" th:field="*{cliente.tel}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('cliente.tel')}"
						th:errors="*{cliente.tel}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Direccion</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{cliente.dir}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('cliente.dir')}"
						th:errors="*{cliente.dir}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha Emision</label>
				<div class="col-sm-4">
					<input type="date" th:field="*{fecEmi}" class="form-control" readonly="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('fecEmi')}"
						th:errors="*{fecEmi}"></small>
				</div>
			</div>
			<div class="form-group row">
					
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Estado</label>
				<div class="col-sm-4">
				
					<select id="cmbBoxEstado">
					  <option value="P">Pendiente</option>
					  <option value="E">En espera</option>
					  <option value="C">Confirmado</option>
					  <option value="R">Rechazado</option>
					</select>
					<input id="inputEstado" type="hidden" th:field="*{estado}" class="form-control" required="true" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('estado')}"
						th:errors="*{estado}"></small><span>(Estados: P, E, C, R)</span><hr></hr>
						<span>Referencias: P-Pendiente, E-En espera, C-Confirmado, R-Rechazado)</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Importe</label>
				<div class="col-sm-4">
					<input type="text" th:field="*{importe}" class="form-control" readonly="true" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('importe')}" th:errors="*{importe}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha Entrega</label>
				<div class="col-sm-4">
					<input id="fecEntrega" type="date" th:field="*{fecEnt}" class="form-control" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fecEnt')}" th:errors="*{fecEnt}"></small>
				</div>
			</div>
			
			
			<div class="container">
			<div class="row">
				<div class="col-9">
					<h1>Detalle Pedido</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Tipo</th>
								<th>Cantidad</th>
								<th>Importe</th>
								<th>Subtotal</th>
								<th></th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item: ${items}">
								<td th:text="${item.producto.id}"></td>
								<td th:text="${item.producto.nom}"></td>
								<td th:text="${item.producto.tipo}" id="tipo"></td>
								<td th:text="${item.cantidad}"></td>
								<td th:text="${item.importe}"></td>
								<td th:text="${item.importe} * ${item.cantidad}"></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td th:text="${pedido.importe}"></td>
							</tr>
						</tbody>
					</table>
					
					<div class="form-group row">
					<label class="col-sm-2 col-form-label"></label>
					<div class="col-sm-5 text-center">
						<input id="btnConfirmar" type="button" value="Confirmar" class="btn btn-crear" onclick="validarFecha()" />
					</div>
				</div>
					
				</div>
			</div>
		</div>
			

			
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script>
/*<![CDATA[*/

$(document).ready(function() {
	
		//CARGO EN COMBO EL VALOR QUE SE TRAE DE BASE DE DATOS.
		var valor = $("#inputEstado").val().toString();
		var $opciones = $("#cmbBoxEstado option");
		
		for(var i = 0; i< $opciones.length; i++){
				
			if ($opciones[i].value.toString() == valor) $opciones[i].setAttribute("selected", "selected");
		};

		//VALIDO DIA DE HOY Y MAÑANA
		
		
		
		

		
		
		//OPCIONES COMBOBOX
		$("#cmbBoxEstado").change(function(){
			
			console.log($("#inputEstado"));
			
			
			var seleccion = $("#cmbBoxEstado :selected").val();
			
			
			$("#inputEstado").val(seleccion);
		
		
		});
	
	});
/*]]>*/
</script>
</html>