<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${titulo}">Insert title here</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/estilos.css}"></link>
	</head>
<body>
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<input type="button" onclick="location.href='formCliente.html';" value="Agregar nuevo cliente" />
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="columna">Id</th>
					<th class="columna">Nombre</th>
					<th class="columna">Apellido</th>
					<th class="columna">Email</th>
					<th class="columna">Correo</th>
					<th class="columna">Direccion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">        <!-- Usamos th para iterar. {clientes} es el nombre del atributo 
				pasado en la clase controladora, en la linea: model.addAttribute("clientes", clienteDao.findAll()); -->
					<td th:text="${cliente.id}"></td>      <!-- "cliente" es el objeto del for -->
					<td th:text="${cliente.nom}"></td>     <!-- Tdos estos cliente.ALGO llaman a los get correspondientes de la entidad Cliente -->
					<td th:text="${cliente.ape}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.tel}"></td>
					<td th:text="${cliente.dir}"></td>
				</tr>
			</tbody>
		</table>
	</div>	
</body>
</html>