<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: headerAdmin"></header>
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<a class="btn btn-primary btn-xs"  th:href="@{/formCliente}"><i class="fas fa-plus"></i></a>
		<!-- th:text="'Agregar nuevo cliente'" -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="columna">Id</th>
					<th class="columna">Nombre</th>
					<th class="columna">Apellido</th>
					<th class="columna">Email</th>
					<th class="columna">Correo</th>
					<th class="columna">Direcci&oacute;n</th>
					<th class="text-center columna">Editar</th>
					<th class="text-center columna">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">        <!-- Usamos th para iterar. {clientes} es el nombre del atributo 
				pasado en la clase controladora, en la linea: model.addAttribute("clientes", clienteDao.findAll()); -->
					<td th:text="${cliente.id}"></td>      <!-- "cliente" es el objeto del for -->
					<td th:text="${cliente.nom}"></td>     <!-- Tdos estos cliente.ALGO llaman a los get correspondientes de la entidad Cliente -->
					<td th:text="${cliente.ape}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.tel}"></td>
					<td th:text="${cliente.dir}"></td>
					<td class="text-center"><a class="btn btn-xs"  th:href="@{/formCliente/} + ${cliente.id}"><i class="fas fa-edit"></i></a></td>
					<td class="text-center"><a class="btn btn-xs"  th:href="@{/eliminarCliente/} + ${cliente.id}" onclick="return confirm('Estás seguro de que quieres eliminar el cliente?');"><i class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>